@page "/auction/AuctionsList"
@using GalaxyTaxi.Shared.Api.Interfaces
@using GalaxyTaxi.Shared.Api.Models.Common
@using GoogleMapsComponents
@using Size = MudBlazor.Size
@inject IAuctionService AuctionService
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="filters-container">
    <MudRadioGroup @bind-SelectedOption="@_auctionsFilter.Status">
        <MudRadio Option="ActionStatus.Active" Color="Color.Primary" Size="Size.Small">Active</MudRadio>
        <MudRadio Option="ActionStatus.Finished" Color="Color.Primary" Size="Size.Small">Finished</MudRadio>
        <MudRadio Option="ActionStatus.All" Color="Color.Primary" Size="Size.Small">All</MudRadio>
    </MudRadioGroup>

    @if (loggedInAs == AccountType.VendorCompany)
    {
        <MudCheckBox @bind-Checked="@_auctionsFilter.WonByMe" Label="Won By Me" Color="Color.Primary"></MudCheckBox>
    }
    <MudButton OnClick="async () => await UpdateGrid()" Variant="Variant.Filled" Size="Size.Small" Style="background-color: royalblue; color:white; margin-left: 15px;">Search</MudButton>
</div>

<MudGrid>
    @if (_auctionItems != null)
    {
        @foreach (var item in _auctionItems)
        {
            <MudItem xs="12">
                <MudPaper Elevation="3" Padding="16px" Class="auction-item">
                    <div class="auction-item-row">
                        <div class="auction-item-map">
                            <GoogleMap @ref="@_map1" Options="@_mapOptions" Height="200px"></GoogleMap>
                        </div>
                        <div class="auction-item-details" title="@item.JourneyInfo.CustomerCompany.Name">
                            <a @onclick="() => NavigateToAuctionDetails(item.Id)" style="text-decoration:none; cursor:pointer;">
                                <h3>@item.JourneyInfo.CustomerCompany.Name's Auction</h3>
                            </a>
                            @if (!item.JourneyInfo.IsOfficeDest)
                            {
                                <p class="destination-location">
                                    <i class="fas fa-map-pin destination-pin"></i> @item.JourneyInfo.Office.Address.Name
                                </p>
                            }
                            <ul class="locations-list">
                                @foreach (var location in item.JourneyInfo.Stops?.Select(x => x.Address.Name).ToList() ?? new List<string>())
                                {
                                    <li class="location-item">@location</li>
                                }
                            </ul>
                            @if (item.JourneyInfo.IsOfficeDest)
                            {
                                <p class="destination-location">
                                    <i class="fas fa-map-pin destination-pin"></i> @item.JourneyInfo.Office.Address.Name
                                </p>
                            }
                        </div>
                        <div class="auction-item-price">
                            @if (loggedInAs == AccountType.CustomerCompany && item.CurrentWinner != null && item.ToDate.AddDays(2) <= DateTime.Today && item.Feedback == null)
                            {
                                var evaluationIcon = Icons.Material.Filled.ErrorOutline;
                                <div style="float: right">
                                    <MudText Typo="Typo.overline" Color="Color.Error">please provide feedback</MudText>
                                    <MudIcon Icon="@evaluationIcon" Color="Color.Error"/>
                                </div>
                            }
                            <p class="price">@item.Amount GEL</p>
                            <p class="bid-count">Bids: @(item.Bids?.Count() ?? 0)</p>
                            @if (item.CurrentWinner != null)
                            {
                                <span class="winner-label">Winner:</span>
                                <span class="winner-name">@item.CurrentWinner.Name</span>
                            }
                        </div>
                    </div>
                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>
<div style="margin-top: 50px; margin-bottom: 50px; text-align: center">
    <MudPagination Count="@_totalPages" CurrentPage="@_currentPage" Variant="Variant.Text" Disabled="false" PageSize="@_auctionsFilter.PageSize" ShowFirstLast="true" ShowPageNumbers="true" ShowJump="true" SelectedChanged="HandlePageClick"/>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<style>

.filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.auction-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.auction-item-map {
    flex: 1;
    width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.auction-item-details {
    flex: 2;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.h3 {
    font-size: 18px;
    color: #555;
    margin-top: 0;
    transition: color 0.3s ease-in-out;
}

.auction-item-details a:hover h3 {
    color: royalblue; 
    text-decoration: underline;
}

.auction-item {
    margin: 0 150px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);  
    transition: box-shadow 0.3s ease-in-out; 
}

.auction-item:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.auction-item-price {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.price {
    font-size: 18px;
    color: royalblue;
}

.bid-count {
    color: #777;
}

.locations-list {
    padding-left: 20px;
}

.location-item::before {
    content: "\2022";
    color: #888;  
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}

.destination-location {
    font-weight: bold;
    margin-top: 10px; 
}

.destination-pin {
    color: royalblue;
    font-size: 1.5em; 
    vertical-align: middle;
    margin-right: 5px; 
}

.winner-label {
    display: block;
    text-align: left;
}

.winner-name {
    font-size: 18px;
    color: royalblue;
}

</style>