@page "/account/employeesInfo"
@using GalaxyTaxi.Shared.Api.Models.EmployeeManagement


<div class="wrapper" style="display:flex;">
    <div class="employeeFilterContainer" style="width:30%;">
        <MudTextField @bind-Value="EmployeeNameFilter" Label="Employee Name" Variant="Variant.Outlined"></MudTextField>
        <MudTextField @bind-Value="OfficeFilter" Label="Office Address" Variant="Variant.Outlined"></MudTextField>

    </div>

    <div class="employeeInfoContainer" style="width: 65%; margin-left: 5%; height: 100%;">
        <div style="display: flex; align-items: center;">
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="async () => await ImportFromExcel()" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">Import</MudButton>

            <MudFileUpload T="IBrowserFile" FilesChanged="OnFileChange" class="mud-button-root mud-button-contained mud-theme-themePrimary" style="margin-left: 5px;">
                <ButtonTemplate>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="@context">
                        Upload File
                    </MudButton>
                </ButtonTemplate>
            </MudFileUpload>

            @if (file != null)
            {
                <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                    @file.Name <code>@file.Size bytes</code>
                </MudListItem>
            }

        </div>

        @*<code>@file.Size bytes</code>*@



        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="All">
                <MudText>Content One</MudText>
            </MudTabPanel>
            <MudTabPanel Text="Current">
                <MudText>Content Two</MudText>
            </MudTabPanel>
            <MudTabPanel Text="Planned">
                <MudText>Content Three</MudText>
            </MudTabPanel>
            <MudTabPanel Text="Cancelled">
                <MudText>Content Disabled</MudText>
            </MudTabPanel>
        </MudTabs>


        <MudDataGrid T="EmployeeJourneyInfo" MultiSelection="true" Items="@_employees"
                     SortMode="SortMode.Multiple" Filterable="true" Hideable="true">

            <ToolBarContent>
                <MudText Typo="Typo.h6">Employees</MudText>
            </ToolBarContent>

            <Columns>
                <SelectColumn T="EmployeeJourneyInfo" />
                <PropertyColumn  Property="x => x.FirstName" Title="First Name"/>
                <PropertyColumn Property="x => x.LastName" Title="Last Name"/>
                <PropertyColumn Property="x => x.From" Title="From" />
                <PropertyColumn Property="x => x.To" Title="To"/>
                <PropertyColumn Property="x => x.Mobile" Title="Mobile" />
            </Columns>
            <PagerContent>
                <MudDataGridPager T="EmployeeJourneyInfo" />
            </PagerContent>

        </MudDataGrid>


    </div>
</div>