@page "/account/offices"
@using GalaxyTaxi.Shared.Api.Models.OfficeManagement
@using GoogleMapsComponents;

<link rel="stylesheet" href="path-to-your-css-file.css">


<div class="wrapper">
	<div class="OfficeInfoContainer">
		<MudCard>
			<MudCardContent>
				<div class="OfficeLayout">
					<div class="LeftSection">
						<GoogleMap @ref="@map1" Options="@mapOptions"></GoogleMap>
						<MudButton OnClick="AddMarker">Show Address Pin</MudButton>
					</div>
					<div class="RightSection">
						<div class="OfficeFilterContainer">
							<MudSelect T="OfficeInfo" Items="@_offices" Label="Office" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"
									   Value="@OfficeFilter" ValueChanged="@((OfficeInfo current) => OfficeValueChanged(current))" Text="@(OfficeFilter?.Address?.Name ?? "")">
								@foreach (var office in _offices)
								{
									<MudSelectItem Value="@office">@office.Address.Name</MudSelectItem>
								}
							</MudSelect>

							<MudButton Variant="Variant.Outlined" OnClick="AddNewOffice">Render Empty Office Form</MudButton>

						</div>

						@if (showAlert)
						{
							<OperationResult Message="@alertMessage" AlertSeverity="@alertSeverity" OnAlertClosed="HandleAlertClosed" />
						}
						<MudTextField Label="Office Address"
									  Value="@OfficeFilter.Address.Name"
															  Required
										  RequiredError="From Address is required."
										  Error="@(!OfficeFilter.Address.IsDetected)"
										  ErrorText="@DetectedStatus"
										  ValueChanged="@((string newValue) => OnFromAddressChanged(newValue))" />
							<MudLink Href="@navigationLink">Number Of Employees : @OfficeFilter.NumberOfEmployees</MudLink>


							<MudTextField Label="Office Identification" @bind-Value="OfficeFilter.OfficeIdentification" ReadOnly="@true" />
							<MudTimePicker Label="Working Start Time" Time="OfficeFilter.WorkingStartTime" TimeChanged="(e) => OfficeFilter.WorkingStartTime = (TimeSpan)e" />
							<MudTimePicker Label="Working End Time" Time="OfficeFilter.WorkingEndTime" TimeChanged="(e) => OfficeFilter.WorkingEndTime = (TimeSpan)e" />
							<MudLink Style="margin-top: 15px; float: right" Href="@navigationLink">Number Of Employees : @OfficeFilter.NumberOfEmployees</MudLink>
						</div>
					</div>
				</MudCardContent>
				<MudCardActions Style="float:right;">
					<MudButton Variant="Variant.Outlined" OnClick="SaveChanges">Save Office Info</MudButton>
				</MudCardActions>
			</MudCard>
		</div>
	</div>


	<style>
		.wrapper {
			display: flex;
			flex-direction: column;
			height: 100vh;
		}

		.OfficeInfoContainer {
			flex: 1;
			padding: 15px;
			background-color: #fff;
		}

		.OfficeLayout {
			display: flex;
			flex-direction: row;
			height: 100%;
		}

		.LeftSection {
			flex: 1;
			border-right: 1px solid #ccc;
			padding-right: 15px;
		}

		.RightSection {
			flex: 1;
			padding-left: 15px;
		}

	</style>