@page "/account/offices"
@using GalaxyTaxi.Shared.Api.Models.OfficeManagement
@using GoogleMapsComponents;

<link rel="stylesheet" href="path-to-your-css-file.css">

<div class="wrapper">
    <div class="OfficeFilterContainer">
        <MudSelect T="OfficeInfo" Items="@_offices" Label="Office" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"
                   ValueChanged="@((OfficeInfo current) => OfficeValueChanged(current))">
            <MudSelectItem T="OfficeInfo" Value="@(null)">[Add New Office]</MudSelectItem>
            @foreach (var office in _offices)
            {
                <MudSelectItem Value="@office">@office.Address.Name</MudSelectItem>
            }
        </MudSelect>
    </div>
    <div class="OfficeInfoContainer">
        <MudCard>
            <MudCardContent>
                @if (showAlert)
                {
                    <OperationResult Message="@alertMessage" AlertSeverity="@alertSeverity" OnAlertClosed="HandleAlertClosed" />
                }
                <MudTextField Label="Office Address" @bind-Value="OfficeFilter.Address.Name "
                              Error="@(!OfficeFilter.Address.IsDetected)"
                              ErrorText="@DetectedStatus" />
    
                        <MudTextField Label="Office Identification"  @bind-Value="OfficeFilter.OfficeIdentification" ReadOnly=true/>
                <MudButton OnClick="AddMarker">Show Address Pin</MudButton>
                <GoogleMap @ref="@map1" Options="@mapOptions"></GoogleMap>
                <MudLink Href="@navigationLink">Number Of Employees : @OfficeFilter.NumberOfEmployees</MudLink>
            </MudCardContent>
            <MudCardActions>
                <MudButton OnClick="SaveChanges">Save Office Info</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</div>

<style>
.wrapper {
    display: flex;
    flex-direction: column; 
    height: 100vh;         
}

.OfficeFilterContainer {
    width: 100%;            
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
}

.OfficeInfoContainer {
    flex: 1;               
    padding: 15px;
    background-color: #fff;
}

.MudCard {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;          
}

.MudButton {
    margin-top: 15px;
}

</style>