@page "/account/settings"
@using GalaxyTaxi.Shared.Api.Models.AccountSettings;
@using GalaxyTaxi.Shared.Api.Models.Common
@using Grpc.Core;
@using System.ComponentModel.DataAnnotations;

<MudContainer>
    <MudCard Class="settings-card">
        <MudCardContent>
            @if (showAlert)
            {
                <OperationResult Message="@alertMessage" AlertSeverity="@alertSeverity" OnAlertClosed="HandleAlertClosed"/>
            }
            @if (accountSettings?.AccountType == AccountType.VendorCompany)
            {
                <div style="display: flex; align-items: center; width: 100%;">
                    @{
                        var textColor = accountSettings.IsVerified ? Color.Success : Color.Error;
                        var verificationText = accountSettings.IsVerified ? "Verified" : "Not Verified";
                        var verificationIcon = accountSettings.IsVerified ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.ErrorOutline;
                    }

                    <MudIcon Icon="@verificationIcon" Color="@textColor" Style="margin-right: 10px;"/>
                    <MudText Typo="Typo.overline" Color="@textColor">@verificationText</MudText>

                    @if (!accountSettings.IsVerified)
                    {
                        <InputFile OnChange="@OnUploadFiles" Multiple="true" />

                    }
                </div>

                @if (files != null)
                {
                    <MudList>
                        @foreach (var file in files)
                        {
                            <MudListItem Icon="@Icons.Material.Filled.AttachFile">
                                @file.Name <code>@file.Size bytes</code>
                            </MudListItem>
                        }
                    </MudList>
                }
            }

            <MudTextField Label="Email" Variant="Variant.Outlined" Type="InputType.Email" @bind-Value="accountSettings.Email" 
                                        Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />

            <MudTextField Label="Company Name" Variant="Variant.Outlined" @bind-Value="accountSettings.CompanyName"/>

            @if (accountSettings.AccountType == AccountType.CustomerCompany)
            {
                <MudNumericField @bind-Value="accountSettings.MaxAmountPerEmployee" Label="Max Amount Per Employee (GEL)" Variant="Variant.Outlined" Min="3.0"/>
            }

            <MudTextField @bind-Value="oldPassword"
                          OnBlur="ValidatePasswords"
                          Label="Old Password"
                          Variant="Variant.Filled"
                          InputType="@OldPasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@oldPasswordIcon"
                          OnAdornmentClick="ToggleOldPasswordVisibility"
                          AdornmentAriaLabel="Show Password"
                          Error="@(!string.IsNullOrEmpty(OldPasswordValidation))"
                          ErrorText="@OldPasswordValidation"/>

            <MudTextField @bind-Value="newPassword"
                          OnBlur="ValidatePasswords"
                          Label="New Password"
                          Variant="Variant.Filled"
                          InputType="@NewPasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@newPasswordIcon"
                          OnAdornmentClick="ToggleNewPasswordVisibility"
                          AdornmentAriaLabel="Show Password"
                          Error="@(!string.IsNullOrEmpty(NewPasswordValidation))"
                          ErrorText="@NewPasswordValidation"/>

            <MudTextField @bind-Value="confirmPassword"
                          Label="Confirm Password"
                          Variant="Variant.Filled"
                          InputType="@ConfirmPasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@confirmPasswordIcon"
                          OnAdornmentClick="ToggleConfirmPasswordVisibility"
                          AdornmentAriaLabel="Show Password"
                          Error="@(!passwordsMatch || !string.IsNullOrEmpty(ConfirmPasswordValidation))"
                          ErrorText="@(passwordsMatch ? ConfirmPasswordValidation : "Passwords do not match")"/>
            @if(accountSettings.AccountType == AccountType.CustomerCompany)
            {
                <MudSwitch @bind-Checked="accountSettings.SupportTwoWayJourneys" Label="Support Two-Way Journeys" Color="Color.Primary" />

            }

        </MudCardContent>
        <MudCardActions Style="padding-left: 15px">
            <MudButton OnClick="SaveChanges"
                       Disabled="!passwordsMatch || IsAnyPasswordFilled && (string.IsNullOrWhiteSpace(oldPassword) || string.IsNullOrWhiteSpace(newPassword) || string.IsNullOrWhiteSpace(confirmPassword))"
                       Variant="Variant.Filled"
                       Color="Color.Primary">
                Save Office Info
            </MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>


<style>
    .settings-card {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .form-divider {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    
</style>