@using GalaxyTaxi.Shared.Api.Interfaces;
@inject IAccountService AccountService;

<MudDialog DialogTitle="Edit Employee" Width="400px">
	<DialogContent>
		<MudTextField Label="Vendor Name" ReadOnly=true @bind-Value="Vendor.Name" />
		<MudTextField Label="Email" ReadOnly=true @bind-Value="Vendor.Email" />
		<MudTextField Label="Verification Request Date" ReadOnly=true @bind-Value="Vendor.VerificationRequestDate" />
		<div style="display: flex; align-items: center; width: 100%;">
			@{
				var textColor = Vendor.IsVerified ? Color.Success : Color.Error;
				var verificationText = Vendor.IsVerified ? "Verified" : "Not Verified";
				var verificationIcon = Vendor.IsVerified ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.ErrorOutline;
			}

			<MudIcon Icon="@verificationIcon" Color="@textColor" Style="margin-right: 10px;" />
			<MudText Typo="Typo.overline" Color="@textColor">@verificationText</MudText>
		</div>
		@if (files != null)
		{
			<MudList>
				@foreach (var file in files)
				{
					<MudListItem Icon="@Icons.Material.Filled.AttachFile">
						@file.Name
					</MudListItem>
				}
			</MudList>
		}
	</DialogContent>
	<DialogActions>
		@if (!Vendor.IsVerified)
		{
			<MudButton Color="Color.Success" >Verify</MudButton>
			<MudButton Color="Color.Error" >Decline</MudButton>
		}
		else
		{
			<MudButton Color="Color.Error" >Unverify</MudButton>
		}

	</DialogActions>
</MudDialog>


