@page "/subscription/chooseSubscription"
@using GalaxyTaxi.Shared.Api.Models.Subscription
@using GalaxyTaxi.Shared.Api.Models.Common;
@using GalaxyTaxi.Shared.Api.Interfaces
@inject ISubscriptionService SubscriptionService
@inject NavigationManager NavigationManager

<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Subscriptions</MudText>
    <MudGrid Class="mt-8" Style="flex-wrap: inherit; gap: 100px; background-color: #eeeded;">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Venture</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">₾20</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Week</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:200px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupervisedUserCircle" Size="Size.Small">
                            Up To 10 Employees
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small">
                            Rides On Weekdays
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LocalTaxi" Size="Size.Small">
                            Economy Taxi
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton OnClick="async () => await ChoseSubscription(SubscriptionPlanType.Weekly)" Variant="Variant.Filled" Size="Size.Large" Style="background-color: royalblue; color:white;; width: 50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Business</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">₾60</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Month</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:200px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupervisedUserCircle" Size="Size.Small">
                            Up To 100 Employees
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small">
                            Rides On Weekdays
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LocalTaxi" Size="Size.Small">
                            Economy Taxi
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton OnClick="async () => await ChoseSubscription(SubscriptionPlanType.Monthly)" Variant="Variant.Filled" Size="Size.Large" Style="background-color: royalblue; color:white;; width: 50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Enterprise</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">₾500</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">/Year</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:200px;">
                        <MudListItem Icon="@Icons.Material.Filled.SupervisedUserCircle" Size="Size.Small">
                            Unlimited Employees
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small">
                            Rides Every Day
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LocalTaxi" Size="Size.Small">
                            Comfort Taxi
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton OnClick="async () => await ChoseSubscription(SubscriptionPlanType.Annual)" Variant="Variant.Filled" Size="Size.Large" Style="background-color: royalblue; color:white;; width: 50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private SubscriptionRequest model = new SubscriptionRequest();

    private async Task ChoseSubscription(SubscriptionPlanType type)
    {
        model.SubscriptionPlanType = type;
        await SubscriptionService.ChoseSubscriptionType(model);

        NavigationManager.NavigateTo("/subscription/payment");
    }

}